body {
  background: #1c1c1c;
}

h1 {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

.contactForm {
  background: #FFF;
  border-radius: 3px;
  padding: 50px;
  width: 60%;
}

.wrapper_inputFeld {
  margin: 20px;
}

.inputFeld {
  width: 300px;
}

.fullWidth {
  width: 100%;
}
